/* Theme */
img {
	max-width: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input {
	cursor: pointer;
}

.demo {
	background: rgba(255,255,255,.95);
	width: 98%;
	max-width: 1600px;
}
.demo {
	width: 97.5%;
	padding: 0 2%;
	margin: 0 auto;
}
.demo:after {
	content: "";
	clear: both;
	display: block;
}
html,
body {
	background: #222;
	margin: 0;
	padding: 0;
}
.demo header {
	background: #333;
	margin: 0;
	padding: .5em 1.5em;
	float: left;
	width: 100%;
}
.page-hed {
	border-bottom: 2px solid rgba(0,0,0,.3);
	color: #222;
	font-size: 2.2em;
	font-family: 'Pathway Gothic One', sans-serif;
	padding-bottom: .1em;
	text-transform: uppercase;
}
.logo-hed {
	background: rgba(0,0,0,.8);
	color: #fafafa;
	font-size: 3em;
	display: inline-block;
	font-family: 'Pathway Gothic One', sans-serif;
	line-height: .9;
	margin: 1em 0 15% 0;
	padding: .15em .5em;
	text-transform: uppercase;
}
.demo-lead {
	background: url(img/hutch-header.jpg);
	display: block;
	margin: 0 auto;
	min-height: 5em;
	width: 97.5%;
	background-size: cover;
}

.mod {
	background: #fff;
	margin-bottom: 1em;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.mod:after {
	content: "";
	clear: both;
	display: block;
}
.mod-header,
.mod-desc {
	background: #4e4f4e;
	padding: .1em 1em;
}
.mod-desc {
	padding-bottom: 1em;
}
.mod-desc:after {
	content: "";
	clear: both;
	display: block;
}

.hed {
	color: #aaa;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.8em;
	line-height: .95;
	margin: 0;
	padding: .5em 0 0 0;
	text-transform: uppercase;
}
.hed strong {
	display: inline-block;
	color: rgba(255,255,255,.85);
}
.meta {
	color: #999;
	font-family: 'Source Code Pro', monospace;
	font-size: .85em;
	margin: 0;
	padding: .4em 0 1em 0
}

p {
	color: rgba(255,255,255,.85);
	font-family: 'Source Sans Pro', sans-serif;
}
.mod-desc > p {
	padding-right: 1em;
}

.cost-prev {
	color: #888;
	font-family: 'Source Code Pro', monospace;
	font-size: 1.2em;
	margin: 0;
}
.cost-curr {
	color: rgba(255,255,255,.85);
	line-height: 1;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 3.5em;
	margin: 0;
}

.buy-remaining {
	color: #eee;
	font-family: 'Source Code Pro', monospace;
	font-size: .8em;
	font-style: italic;
	margin: 1.5em 0 .5em 0;
}
.btn-buy {
	background-image: linear-gradient( #fe9358, #fe6b1f ); 
	border: 1px solid #e77c3f;
	border-radius: .15em;
	color: #fff;
	display: block;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.3em;
	padding: .15em 1.2em;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #6b3011;
}

/* latin-ext */
@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(http://fonts.gstatic.com/s/pathwaygothicone/v4/Lqv9ztoTUV8Q0FmQZzPqaA6LSHyyJAN5JIFgwWnj0Az3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pathway Gothic One';
  font-style: normal;
  font-weight: 400;
  src: local('Pathway Gothic One'), local('PathwayGothicOne-Regular'), url(http://fonts.gstatic.com/s/pathwaygothicone/v4/Lqv9ztoTUV8Q0FmQZzPqaHT0-GP0evTJPrdxn7U7ioo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD4a1YDtoarzwSXxTHggEXMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v6/mrl8jkM18OlOQN8JLgasD5bPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlCxe5Tewm2_XWfbGchcXw4g.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlIa1YDtoarzwSXxTHggEXMw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}